body{
    background-color:rgb(190, 244, 220);
    background-color: rgb(207, 207, 237);
    text-align: center;
    margin:0px;
  }
h1{
    color: rgb(1, 1, 20);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
}
.principal{
    padding: 0%;
    margin: auto;
    border: 3px solid black;
    border-radius: 5%;
}
.nosotros{
    padding: 0%;
    margin: auto;
    border: 3px solid black;
    border-radius: 5%;
}
.hidroterapia{
    padding: 0%;
    margin: auto;
    border: 3px solid black;
    border-radius: 5%;
}
.remedios{
    padding: 0%;
    margin: auto;
    border: 3px solid black;
    border-radius: 5%;
}
h2{
    color: rgb(1, 1, 20);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    text-align: left;
}
p{
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    width: 850px;
    height: 80px;
    padding: 10px;
}
ul{
    color: rgb(1, 1, 20);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-align: left;
}
.img{
    width: 250px;
    height: 250px;
    padding: 0px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}